@font-face {
  font-family: "Source Code Pro Regular";
  src: url("/SourceCodePro/WOFF/OTF/SourceCodePro-Regular.otf.woff");
}

body {
	height: 100%;
	margin: 0;
  overflow: hidden;
}

.fullscreen(@rules) {
    :fullscreen { @rules(); }
		:-ms-fullscreen { @rules(); }
		:-moz-full-screen { @rules(); }
    :-webkit-full-screen { @rules(); }
}

.zen(@full, @p) {
  padding: @p;
  height: calc(~"100% - "(2 *@p));
  & when(@full) {
    width: calc(~"100% - "(2 *@p));
  }
}

// large screen
@media (min-width: 1200px) {
  .code {
    .zen(false, 50px);
  }
}

.fullscreen({
  .menu {
    display: none;
  }
  .code {
    .zen(true, 100px);
  }
});

@media print {
	.menu {
		display: none;
	}
}

.menu {
	position: fixed;
	top: 0;
	right: 0;
	margin: 16px;
	z-index: 20;

	i {
		display: block;
		font-size: 32px;
		margin-top: 10px;
		cursor: pointer;
	}
}

.code {
	.error {
		display: inline-block;
		border-bottom: 1px dashed red;
	}
	.error-message {
		line-height: 22px;
		color: red;
		padding-left: 16px;
		i {
			margin-right: 5px;
			margin-left: 5px;
		}
	}

	.macroAnnotation {
		opacity: 0.3;
	}

  pre.insight.inline {
    display: inline-block;
  }
	.insight {
    .MathJax {
      font-size: 30px;
    }

		&.code {
			font-style: italic;
			opacity: 0.8;
		}
		&.inline {
			border-box: none;
			margin-left: 16px;
			padding: 10px;
		}

		&.fold {
			padding: 10px;
		}

		z-index: 2;
	}
}
