.cm-s-solarized {
	.solarized-pallette;

	&.menu {
		background-color: transparent;
	}

	&.cm-s-dark {
		&.menu {
			color: @base01;
			i:hover {
				color: @base1;
			}
		}
	}

	&.cm-s-light {
		&.menu {
			color: @base1;
			i:hover {
				color: @base01;
			}
		}
	}
}

.menu {
	color: grey;
	i:hover {
		color: green;
	}
}